<div class="row">
  <div class="col-md-3" style="height: 90vh; background-color: #343a40;">
    <form
      name="form"
      class="ml-3 mr-2"
      id="userForm"
      #f="ngForm"
      (ngSubmit)="create(f)"
    >
      <div class="row">
        <div class="col-md-12">
          <input
            type="text"
            class="form-control mt-2"
            name="uName"
            [(ngModel)]="user.name"
            #uName="ngModel"
            placeholder="User Name *"
            required
          />
        </div>
        <input
          type="text"
          class="form-control mt-2"
          name="password"
          [(ngModel)]="user.password"
          #password="ngModel"
          placeholder="Password *"
          required
        />
        <input
          type="text"
          class="form-control mt-2"
          name="confirmPassword"
          [(ngModel)]="user.confirmPassword"
          #confirmPassword="ngModel"
          placeholder="Confirm Password *"
          required
        />
        <select
          class="form-control mt-2"
          name="role"
          [(ngModel)]="user.role"
          #role="ngModel"
          required
        >
          <option [ngValue]="undefined" hidden selected>
            Role <span>*</span></option
          >
          <option
            *ngFor="let key of roleTypeOptions"
            [value]="key"
            [label]="roleTypes[key]"
          ></option>
        </select>
        <input
          type="text"
          class="form-control mt-2"
          #phone="ngModel"
          name="phone"
          [(ngModel)]="user.phone"
          placeholder="Phone Number *"
          required
        />
        <textarea
          class="form-control mt-2"
          name="address"
          [(ngModel)]="user.address"
          #address="ngModel"
          cols="2"
          rows="2"
          placeholder="Address *"
          required
        ></textarea>
        <textarea
          class="form-control mt-2"
          name="description"
          [(ngModel)]="user.description"
          #description="ngModel"
          cols="2"
          rows="2"
          placeholder="Description"
        ></textarea>
      </div>
      <div class="text-center mt-2">
        <button type="submit" class="btn">{{ actionLabel }}</button>
        <button type="reset" class="btn ml-1">Cancel</button>
      </div>
    </form>
  </div>
  <div class="col-md-9">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th><span>User Name</span></th>
          <th><span>Password</span></th>
          <th><span>Role</span></th>
          <th><span>Phone</span></th>
          <th><span>Address</span></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let user of userList">
          <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.password }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.address }}</td>
            <td>
              <button class="btn" type="submit" (click)="getById(user.id)">
                Edit
                <i class="fa fa-edit" aria-hidden="true"></i>
              </button>
              <button
                class="btn ml-2"
                type="submit"
                (click)="deleteById(user.id)"
              >
                Delete
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
