form{
    color: white;
}
form input {
    margin-top: 40px;
    font-size: 1rem;
    border: 0;
    border-bottom: 2px solid greenyellow;
    background-color: inherit;
    color: white;
}
#popInputNumber {
  border: 0;
  border-bottom: 2px solid greenyellow;
  background-color: inherit;
  font-size: 1rem;
  width: 70px
}
form select {
    font-size: 1rem;
    border: 0;
    border-bottom: 2px solid greenyellow;
    background-color: inherit;
    color: white;
  }

  form option{
      background-color: black;
  }
  .bg-red{
      background-color: tomato;
  }
  .bg-yellow{
    background-color: #FFFF66;
}
  .btn{
    font-size: 1rem;
    border-radius: 20px;
    border: 1px solid yellowgreen ;
    background-color: inherit;
    color: currentColor;
  }
  
  .btn:hover{
    background-color:greenyellow ;
  }

  /* Modal Header */
.modal-header {
  background-color: #343a40;
  color: white;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
  background-color: #343a40;
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 100%;
  animation-name: animatetop;
  animation-duration: 0.4s
}

