<div class="row">
    <div class="col-md-3 bg-color">
        <form name="form" class="ml-3 mr-2" id="productEntryForm" (ngSubmit)="create(f)" #f="ngForm" novalidate>
            <div class="row">
                <div class="col-md-12">
                    <select class="form-control" name="cp" [(ngModel)]="model.category" #cp="ngModel" (change)="toggleInventory()" [compareWith]="compareFn" required>
                        <option [ngValue]="undefined" hidden selected> Category* </option>
                        <option *ngFor="let cl of categoryList" [ngValue]="cl">
                            {{ cl.name }}
                        </option>
                    </select>
                </div>
                <div class="col-md-12">
                    <input type="text" class="form-control" name="pName" placeholder="Name*" [(ngModel)]="model.name" required />
                </div>
                <div class="col-md-12">
                    <select class="form-control" name="st" [(ngModel)]="model.activeStatus" #st="ngModel" required>
                        <option [ngValue]="undefined" hidden selected> Status Type </option>
                        <option *ngFor="let option of statusOptions" [ngValue]="option.value">
                            {{ option.name }}
                        </option>
                    </select>
                </div>
                <div class="col-md-12">
                    <input type="number" class="form-control" name="price" placeholder="Price* (e.g.100.00)" [(ngModel)]="model.price" required />
                </div>
                <div class="col-md-12">
                    <input type="number" class="form-control" name="landingPrice" placeholder="Landing Price* (e.g.100.00)" [(ngModel)]="model.landingPrice" required />
                </div>
                <div class="col-md-12">
                    <input type="number" class="form-control" name="disc" placeholder="Product discount" [(ngModel)]="model.defaultDiscount" />
                </div>
                <div class="col-md-12 mt-2" *ngIf="toggleInventoryFlag">
                    <button type="button" class="btn text-white pull-right" name="addInventory" (click)="pushInventory()">Add Inventory</button>
                </div>
                <div class="row col-md-12 mt-2" *ngFor="let intry of model?.requiredInventories;let i=index;let first=first;let last=last;">

                    <div class="col-md-5">
                        <select class="form-control" name="inventoryId_{{i}}" (blur)="calculateInventory(intry)" [(ngModel)]="intry.productInventoryId.inventoryId">
                            <option selected>Select</option>
                            <option *ngFor="let inventory of inventoryList; let i = index" [ngValue]="inventory.id">
                                {{inventory.name }}</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <input type="number" class="form-control" name="inventory_{{i}}" (blur)="calculateInventory(intry)" placeholder="Units Required" [(ngModel)]="intry.unitsRequired" />
                    </div>
                    <div class="col-md-2">
                        <button class="btn text-white mt-4" name="delete_{{i}}"><i aria-hidden="true" class="fa fa-trash" (click)="popInventory(i)"></i>
                        </button>
                        <!-- <button class="btn text-white mt-4" name="delete_{{i}}" (click)="popInventory(i)">Delete</button> -->
                    </div>
                </div>

                <div class="col-md-12 mt-2">
                    <input type="number" class="form-control" name="adhocPrice" placeholder="Adhoc Price" [(ngModel)]="model.adhocPrice" />
                </div>
                <!-- <div class="col-md-12" *ngIf="model?.category?.rawMaterial">
                    <input type="number" class="form-control" name="inventory" placeholder="Quantity(e.g. 2)" [(ngModel)]="model.inventory" />
                </div>
                <div class="col-md-12" *ngIf="model?.category?.rawMaterial">
                    <input type="number" class="form-control" name="ma" placeholder="Minimum Availability" [(ngModel)]="model.minimumAvailability" />
                </div>
                <div class="col-md-12" *ngIf="model?.category?.rawMaterial">
                    <input type="number" class="form-control" name="ma" placeholder="Minimum Availability" [(ngModel)]="model.minimumAvailability" />
                </div> -->
                <!-- <div class="col-md-12">
          <input
            type="number"
            class="form-control"
            name="desc"
            placeholder="Order"
            [(ngModel)]="model.productOrder"
          />
        </div> -->
            </div>
            <div class=" text-center mt-2">
                <button *ngIf="actionType == 'C' && loggedInUser.role == 'Admin'" class="btn " type="submit">
                    Create
                </button>
                <button *ngIf="actionType == 'U'" class="btn" (click)="update()" type="button">
                    Update
                </button>
                <button class="btn ml-2" (click)="new(f)" type="button">
                    Cancel
                </button>
            </div>
        </form>
    </div>
    <div class="col-md-9 view-pane">
        <div class="clearfix m-2">
            <div class="float-left" *ngIf="isRaw">
                <input class="mt-2" type="checkbox" name="showMinStock" id="checkStock" [(ngModel)]="showMinStock" (change)="showEndingInventories($event.target.checked)" /><span>Show minimum available stock</span>
            </div>
            <div class="float-right">
                <button class="btn btn-sm" *ngIf="selectedCategory != 'All' && isRaw" (click)="SetUpdateableInventory(inventoryUpdate)">Update {{ selectedCategory }} Inventory</button>
                <!-- <button class="btn btn-sm ml-2" (click)="downloadInventoryExcel()">Download Raw Inventory</button> -->
                <button class="btn btn-sm ml-2" (click)="orderInventory(orderProducts)">Order Raw Inventory</button>
            </div>
        </div>
        <nav class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-item nav-link" [ngClass]="{ active: selectedCategory == 'All' }" (click)="filter('All')">
                    All</a>
            </li>
            <li class="nav-item" *ngFor="let cat of categoryList">
                <a class="nav-item nav-link" *ngIf="!cat.activeStatus" [ngClass]="{ active: selectedCategory == cat.name }" (click)="filter(cat.name)">{{ cat.name }}</a>
            </li>
        </nav>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        <a (click)="sortType = 'name'; sortReverse = !sortReverse">
                            Name
                            <span [hidden]="!(sortType == 'name' && !sortReverse)" class="fa fa-caret-down"></span>
                            <span [hidden]="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Discount
                    </th>
                    <th *ngIf="isRaw">
                        Inventory
                    </th>
                    <th *ngIf="isRaw">
                        Minimum Availability
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let product of productList">
                    <tr [ngClass]="{
              'bg-red': showMinStock,
              'bg-yellow': product.activeStatus
            }" *ngIf="!product.category.activeStatus">
                        <td>
                            {{ product.name }}
                        </td>
                        <td>
                            {{ product.category.name }}
                        </td>
                        <td>
                            {{ product.price }}
                        </td>
                        <td>
                            {{ product.defaultDiscount }}
                        </td>
                        <td *ngIf="isRaw">
                            {{ product.inventory }}
                        </td>
                        <td *ngIf="isRaw">
                            {{ product.minimumAvailability }}
                        </td>
                        <td>
                            <button class="btn" type="submit" (click)="getById(product.id)">
                                Edit
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </button>
                            <button class="btn ml-2" type="submit" (click)="delete(product)">
                                Delete
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>
<ng-template #inventoryUpdate let-c="close" let-d="dismiss">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Update {{ selectedCategory }} Inventory</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <table class="table table-sm table-striped istore-table">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Inventory</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of updateInventoryModel">
                        <td>
                            {{item.name}}
                        </td>
                        <td>
                            <input type="number" class="form-control" [(ngModel)]="item.inventory" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="updateInventory()">
                Update
            </button>
            <button type="button" class="btn btn-secondary" (click)="close('Close click')">
                Close
            </button>
        </div>
    </div>
</ng-template>
<ng-template #orderProducts let-c="close" let-d="dismiss">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Order Products</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <nav class="nav nav-tabs">
                <li class="nav-item" *ngFor="let cat of orderProductsList | keyvalue; let i = index">
                    <a class="nav-item nav-link" [ngClass]="{ active: num == cat.key}" (click)="setIndexOfList(cat.key)">{{ cat.key }}</a>
                </li>
            </nav>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Inventory
                        </th>
                        <th>
                            Minimum Availability
                        </th>
                        <th>
                            Order Count
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let product of orderProductsList[num]">
                        <tr>
                            <td>
                                {{ product.name }}
                            </td>
                            <td>
                                {{ product.inventory }}
                            </td>
                            <td>
                                {{ product.minimumAvailability }}
                            </td>
                            <td>
                                <input type="number" id="popInputNumber" class="form-control form-control-sm" [(ngModel)]="product.currentStock">
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="downloadInventoryExcel()">
                Download
            </button>
            <button type="button" class="btn btn-secondary" (click)="close('Close click')">
                Close
            </button>
        </div>
    </div>
</ng-template>