<div class="row">
    <div class="col-md-3 left-pane bg-color">
        <form name="form" class="ml-3 mr-2" id="inventoryForm" #f="ngForm" (ngSubmit)="createOrUpdate(f)">
            <div class="row">
                <div class="col-md-4 p-3">
                    <label class="mt-4">
                        Name*:
                    </label>
                </div>
                <div class="col-md-8 p-3">
                    <input type="text" class="form-control mt-2" name="iName" [(ngModel)]="inventory.name"
                        #iName="ngModel" placeholder="Name *" required />
                </div>
                <div class="col-md-4 p-3">
                    <label class="mt-4">
                        Purchase Price*:
                    </label>
                </div>

                <div class="col-md-8 p-3">

                    <input type="number" class="form-control mt-2" name="price" min="0" [(ngModel)]="inventory.price"
                        #price="ngModel" placeholder="Purchase Price *" required />
                </div>

                <div class="col-md-4 p-3">
                    <label class="mt-4">
                        Available Qty*:
                    </label>
                </div>
                <div class="col-md-8 p-3">
                    <input type="number" class="form-control mt-2" name="availableUnits" min="0"
                        [(ngModel)]="inventory.availableUnits" #availableUnits="ngModel"
                        placeholder="Available Quantity *" required />
                </div>
                <div class="col-md-4 p-3">
                    <label class="mt-4">
                        Units Per Qty*:
                    </label>
                </div>
                <div class="col-md-8 p-3">

                    <input type="number" class="form-control mt-2" name="units" min="0"
                        [(ngModel)]="inventory.unitsPerQty" #units="ngModel" placeholder="Units Per Quantity *"
                        required />
                </div>
                <div class="col-md-4 p-3">
                    <label class="mt-4">
                        Min Required Qty:
                    </label>
                </div>
                <div class="col-md-8 p-3">
                    <input type="number" class="form-control mt-2" name="minAvailableUnits" min="0"
                        [(ngModel)]="inventory.minAvailableUnits" #minAvailableUnits="ngModel"
                        placeholder="Min Required Quantity *" required />
                </div>
            </div>
            <div class=" text-center mt-2 ">
                <button type="submit " class="btn ">{{ actionLabel }}</button>
                <button type="reset " class="btn ml-1 ">Cancel</button>
            </div>
        </form>
    </div>
    <div class="col-md-9 view-pane mt-2">
        <div>
            <button class="btn btn-default pull-right" (click)="updateRecordInventory()">Record Inventory</button>
            <button class="btn btn-default pull-right mr-2" (click)="getHistoryInventory()">History Inventory</button>
        </div>
        <table class="table table-bordered table-striped mt-2">
            <thead>
                <tr>
                    <th><span>Name</span></th>
                    <th><span>Price</span></th>
                    <th><span>Available Units</span></th>
                    <th><span>Units Per Quantity</span></th>
                    <th><span>Min Available Units</span></th>
                    <th><span>Actions</span></th>
                </tr>
            </thead>
            <tbody *ngIf="inventoryList.length">
                <ng-container *ngFor="let inventory of inventoryList ">
                    <tr>
                        <td>{{ inventory?.name | titlecase }}</td>
                        <td>{{ inventory?.price || "" }}</td>
                        <td>{{ inventory?.availableUnits }}</td>
                        <td>{{ inventory?.unitsPerQty }}</td>
                        <td>{{ inventory?.minAvailableUnits }}</td>
                        <td>
                            <button class="btn " type="submit " (click)="getById(inventory.id) ">
                                Edit
                                <i class="fa fa-edit " aria-hidden="true "></i>
                            </button>
                            <button class="btn ml-2 " type="submit " (click)="deleteInventory(inventory.id) ">
                                Delete
                                <i class="fa fa-trash " aria-hidden="true "></i>
                            </button>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>