<div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-4 p-3">
          <h4>
            Set dates by:
          </h4>
        </div>
        <div class="col-md-8 p-3">
          <select
            class="form-control"
           [(ngModel)]="choosenDay"
            (change)="setDates()">
            <option *ngFor="let cl of choosePrePopulateDays">{{ cl }} </option>
          </select>
        </div>
        <div class="col-md-4 p-3">
          <h4>
            From Date:
          </h4>
        </div>
        <div class="col-md-8 p-3">
          <input
            type="date"
            class="form-control"
            id="fromDate"
            [(ngModel)]="groupReq.fromDate "
          />
        </div>
        <div class="col-md-4 p-3">
          <h4>
            To Date:
          </h4>
        </div>
        <div class="col-md-8 p-3">
          <input
            type="date"
            class="form-control"
            min="{{ groupReq.fromDate | date: 'yyyy-MM-dd' }}"
            [(ngModel)]="groupReq.toDate"
          />
        </div>
        <div class="row">
          <div class="col-md-12">
            <button class="btn ml-4" (click)="getTotalData()">Get Data</button>
          </div>
        </div>
      </div>
    </div>
      <div class="col-md-4">
        <div class="accordion" id="accordionOne" *ngIf="profitsCategoriesList">
          <div class="card" *ngFor="let cat of profitsCategoriesList; let i = index">
            <div class="card-header card-hover" [attr.id]="'heading' + i" (click)="getProductsData(cat.name)">
              <div
                class="mb-0 clearfix"
                data-toggle="collapse"
                [attr.data-target]="'#collapse' + i"
                aria-expanded="false"
                [attr.aria-controls]="'#collapse' + i"
              >
                <span class="float-left"> <strong>Category:</strong> {{ cat.name }} </span>
                <span class="float-right"> <strong>Profit:</strong> {{ cat.profit }} </span>
              </div>
            </div>
    
            <div
              [attr.id]="'collapse' + i"
              class="collapse"
              [attr.aria-labelledby]="'heading' + i"
              data-parent="#accordionOne"
            >
              <div
                class="card-body table table-sm table-responsive table-striped"
                style="padding: 0;"
              >
              <table style="width: 100%;table-layout: fixed;">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Profit</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let product of profitsProductsList">
                    <tr >
                      <td >
                        {{ product.name }}
                      </td>
                      <td >
                        {{ product.profit }}
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
              </div>
            </div>
          </div>
        </div>
        <div class="pt-5 pl-5" *ngIf="profitsCategoriesList.length ==0">
          <h3>
            No data available!
          </h3>
        </div>
      </div>
    </div>
    
    
    
  