<div class="row">
    <div class="col-md-4">
      <h4>
        Choose Days:
      </h4>
      <select
        class="form-control"
        name="pm"
        [(ngModel)]="selectedDay"
        #pm="ngModel"
        (change)="getTotalData()"
      >
      <option *ngFor="let cl of chooseDays"
      >{{ cl }}
    </option>
      </select> 
    </div>
    <div class="col-md-4">
      <div class="accordion" id="accordionExample" *ngIf="salesList">
        <div class="card" *ngFor="let sale of salesList | keyvalue; let i = index">
          <div class="card-header card-hover" [attr.id]="'heading' + i">
            <div
              class="mb-0 clearfix"
              data-toggle="collapse"
              [attr.data-target]="'#collapse' + i"
              aria-expanded="false"
              [attr.aria-controls]="'#collapse' + i"
            >
              <span class="float-left"> <strong>Date:</strong> {{ sale.key | date }} </span>
            </div>
          </div>
  
          <div
            [attr.id]="'collapse' + i"
            class="collapse"
            [attr.aria-labelledby]="'heading' + i"
            data-parent="#accordionExample"
          >
            <div
              class="card-body table table-sm table-responsive table-hover table-striped"
              style="padding: 0;"
            >
              <table style="width: 100%;table-layout: fixed;">
                <thead>
                  <tr>
                    <th>Category</th>
                    <th>Cash</th>
                    <th>Bank</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let order of sale.value">
                    <tr >
                      <td >
                        {{ order.category }}
                      </td>
                      <td >
                        {{ order.cashTotal }}
                      </td>
                      <td >
                        {{ order.bankTotal }}
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="pt-5 pl-5" *ngIf="!salesList">
        <h3>
          No data available!
        </h3>
      </div>
    </div>
  </div>
  
