.btn{
    font-size: 1rem;
    border-radius: 20px;
    border: 1px solid yellowgreen ;
    background-color: inherit;
    color: currentColor;
  }
  
  .btn:hover{
    background-color:greenyellow ;
  }
  .card-hover:hover{
    cursor: pointer;
  }