.nav-link{
    width:80px;
    color: yellowgreen;
    text-align: center;
    font-size:1rem;
}
.nav-link:hover{
    background-color: yellowgreen;
    color: black;
}
.activeBtn{
    background-color: yellowgreen;
    color: black;
} 