/* You can add global styles to this file, and also import other style files */
* {
    font-size: 0.85rem;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }

  *:focus {
    outline: none;
}

a:hover { cursor: pointer; }
.btn{
  font-size: 1rem;
  border-radius: 20px;
  border: 1px solid yellowgreen ;
  background-color: inherit;
  color: currentColor;
}

.btn:hover{
  background-color:greenyellow ;
}

form{
  color: white;
}
form input {
  margin-top: 40px;
  font-size: 1rem;
  border: 0;
  border-bottom: 2px solid greenyellow;
  background-color: inherit;
  color: white;
}
 
form select {
  margin-top: 40px;
  font-size: 1rem;
  border: 0;
  border-bottom: 2px solid greenyellow;
  background-color: inherit;
  color: white;
}