<div class="row">
  <div
    class="col-md-5"
    style="height: 90vh; background-color: #343a40;overflow-y: scroll;"
  >
    <div class="row p-3">
      <div class="col-md-12 clearfix">
        <div class="float-left form-group">
          <input
            type="text"
            id="cname"
            name="cname"
            placeholder="Name"
            [(ngModel)]="customerDetails.name"
          />
          <label class="required" for="cname">*</label>
        </div>
        <div class="float-right">
          <input
            type="text"
            placeholder="Phone"
            [(ngModel)]="customerDetails.phone"
          />
        </div>
      </div>
      <div class="col-md-12 form-group">
        <select
        style="width: 98%;"
          name="pm"
          [(ngModel)]="paymentMode"
          #pm="ngModel"
          required
        >
          <option [ngValue]="undefined" hidden selected> Payment Mode </option>
          <option *ngFor="let cl of paymentTypes">{{ cl }} </option>
        </select><label class="required" for="pm">*</label>
      </div>
    </div>
    <table class="table table-dark table-sm table-striped istore-table">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Qty</th>
          <th>Price</th>
          <th>Discount(%)</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody *ngIf="itemList.length">
        <tr *ngFor="let item of itemList; let i = index">
          <td
            style="position: relative;cursor: pointer;"
            (click)="removeItemFromBill(i)"
          >
            <span
              style="color: greenyellow; margin: 0;
          font-size: 15px ;
        position: relative;
        margin-top: 50%;"
            >
              <i class="fa fa-minus" aria-hidden="true"></i
            ></span>
          </td>
          <td>
            <!-- <select disabled [(ngModel)]="item.productId" class="form-control">
              <option *ngFor="let p of filterProductList" [ngValue]="p.id">{{
                p.name
              }}</option>
            </select> -->
            <p>{{ item.product.name }}({{ item.product.category.name }})</p>
          </td>
          <td>
            <div>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="item.quantity"
                (change)="setTotal(item)"
              />
            </div>
          </td>
          <td>
            <p>{{ item.price }}</p>
          </td>
          <td>
            <div>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="item.discount"
                step="5"
                max="100"
                min="0"
                (change)="setTotal(item)"
              />
            </div>
          </td>
          <td>
            <p>{{ item.total }}</p>
          </td>
        </tr>
        <tr>
          <td colspan="5">
            <p><b>Total</b></p>
          </td>
          <td>
            <p>
              <b>{{ totalBill }}</b>
            </p>
          </td>
        </tr>
        <tr *ngIf="itemList.length">
          <td colspan="5">
            <button class="btn" style="float: right;" (click)="cancelBill()">
              Cancel
            </button>
          </td>
          <td colspan="5">
            <button
              class="btn"
              style="float: right;"
              (click)="setPrintingBill(billContent)"
              [disabled]="customerDetails.name == null && paymentMode == null"
            >
              Add
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-7 item-view-pane">
    <nav class="nav nav-tabs">
      <li class="nav-item" *ngFor="let cat of categoryList">
        <a
          class="nav-item nav-link"
          *ngIf="!cat.activeStatus"
          [ngClass]="{ active: selectedCategory == cat.name }"
          (click)="filter(cat.id, cat.name)"
          >{{ cat.name }}</a
        >
      </li>
    </nav>
    <div class="row">
      <div
        *ngFor="let product of productList"
        class="col-md-2 p-1"
        style="text-align: center;"
        [hidden]="!product.inventory || product.activeStatus || product.category.activeStatus"
        (click)="addToList(product)"
      >
        <b
          ><h5>{{ product.name }}</h5></b
        >
        <b
          ><small>({{ selectedCategory }})</small></b
        >
        <b
          ><p>{{ product.price }}.rs</p></b
        >
      </div>
    </div>
  </div>
</div>
<ng-template #billContent let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Bill</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div id="print-section" style="margin: 2;">
        <div style="text-align: center;">
          <small>NATURAL FRESH</small><br />
          <small>SRI YOGESHWARA ENTERPRISE</small><br />
          <small>TAX INVOICE #{{ printingBill.id+1 }}</small
          ><br />
          <small>YELLAMMAGUTTA, NZB</small><br />
        </div>
        <hr />
        <div style="display: inline;">
          <div style="float: left;">
            <p>
              <small>Name: {{ printingBill.contact.name }}</small>
            </p>
            <p>
              <small>Date:{{ printingBill.createdDate | date }}</small>
            </p>
          </div>
          <div style="float: right;">
            <p *ngIf="printingBill.contact.phone">
              <small>Phone: {{ printingBill.contact.phone }}</small>
            </p>
            <p>
              <small
                >Time:{{ printingBill.createdDate | date: "h:mm:ss a" }}</small
              >
            </p>
          </div>
        </div>
        <div>
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Name</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Disc(%)</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody *ngIf="itemList.length">
              <tr *ngFor="let item of printingBill.items; let i = index">
                <td>
                  {{ item.product.name }}({{ item.product.category.name }})
                </td>
                <td>
                  {{ item.quantity }}
                </td>
                <td>
                  {{ item.price }}
                </td>
                <td>
                  {{ item.discount }}
                </td>
                <td>
                  {{ item.total }}
                </td>
              </tr>
              <tr>
                <td colspan="4">
                  <b>Total</b>
                </td>
                <td>
                  <b>{{ printingBill.total }}</b>
                </td>
              </tr>
            </tbody>
          </table>

          <hr />
          <span>Payment Mode : {{ printingBill.paymentMode }}</span>
        </div>
        <div style="text-align: center;">
          <hr />
          <small>THANKYOU! VISIT AGAIN</small>
          <hr />
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        printSectionId="print-section"
        [printStyle]="{
          div: { 'margin-left': '-5px', 'margin-right': '-5px' }
        }"
        (click)="generateBill()"
        ngxPrint
      >
        Print
      </button>
      <button
        type="button"
        class="btn btn-secondary"
        (click)="close('Close click')"
      >
        Close
      </button>
    </div>
  </div>
</ng-template>
