.istore-table {
    width: 100%;
}

.istore-table input {
    margin-top: 0px;
    font-size: 1rem;
    border: 0;
    border-bottom: 2px solid greenyellow;
    background-color: inherit;
    color: white;
}

.istore-table input:focus {
    border: 0;
}

.item-view-pane {
    background-color: greenyellow;
    height: 90vh;
    margin-left: -16px;
    overflow-y: scroll;
}

.istore-table p {
    font-size: 1rem;
    margin-top: 5px;
}

/* Modal Header */
.modal-header {
    background-color: #343a40;
    color: white;
  }
  
  /* Modal Body */
  .modal-body {padding: 2px 16px;}
  
  /* Modal Footer */
  .modal-footer {
    background-color: #343a40;
    color: white;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 100%;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }