<div class="row">
  <div class="col-md-5" style="height: 90vh; background-color: #343a40;overflow-y: scroll;">
    <table class="table table-dark table-sm table-striped istore-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Qty</th>
          <th>Price</th>
          <th>Discount(%)</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody *ngIf="itemList.length">

        <tr *ngFor="let item of itemList; let i = index">
          <td>
            <select disabled [(ngModel)]="item.productId" class="form-control">
              <option *ngFor="let p of productList" [ngValue]="p.id">{{
                p.name
              }}</option>
            </select>
          </td>
          <td>
            <div>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="item.quantity"
                (change)="setTotal(item)"
              />
            </div>
          </td>
          <td>
            <p>{{ item.price }}</p>
          </td>
          <td>
            <div>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="item.discount"
                step="5"
                max="100"
                min="0"
                (change)="setTotal(item)"
              />
            </div>
          </td>
          <td>
            <p>{{ item.total }}</p>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <p><b>Total</b></p>
          </td>
          <td>
            <p>
              <b>{{ totalBill }}</b>
            </p>
          </td>
        </tr>
        <tr *ngIf="itemList.length">
          <td colspan="4">
            <button
              class="btn"
              style="float: right;"
              (click)="cancelBill()"
            >
              Cancel
            </button>
          </td>
          <td colspan="5">
            <button
              class="btn"
              style="float: right;"
              (click)="setPrintingBill(billContent)"
            >
              Add
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-7 item-view-pane">
    <div class="row">
      <div
        *ngFor="let product of productList"
        class="col-md-2 p-1"
        style="text-align: center;"
        (click)="addToList(product)"
      >
        <h3>
          <img
            [src]="'data:image/png;base64,' + product.image"
            width="70"
            height="40"
          />
        </h3>
        <p>{{ product.name }}</p>
        <small>{{ product.price }}.rs</small>
      </div>
    </div>
  </div>
</div>
<ng-template #billContent let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Bill</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div id="print-section">
        <div style="text-align: center;">
          <small>NATURAL FRESH</small><br>
          <small>SRI YOGESHWARA ENTERPRISES</small><br>
          <small>TAX INVOICE</small><br>
          <small>YELLAMA GUTTA,NZB</small><br>
        </div>
        <hr>
        <div style="display: inline;">
          <div style="float: left;">
            <p><small>Date:{{printingBill.date | date}}</small> </p>
          </div>
          <div style="float: right;">
          <p><small>Time:{{printingBill.date | date:'h:mm:ss a'}}</small></p>
          </div>
        </div>
        <div>
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Name</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Disc(%)</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody *ngIf="itemList.length">
              <tr *ngFor="let item of printingBill.items; let i = index">
                <td>
                  {{item.productName}}
                </td>
                <td>
                  {{ item.quantity }}
                </td>
                <td>
                  {{ item.price }}
                </td>
                <td>
                  {{ item.discount }}
                </td>
                <td>
                  {{ item.total }}
                </td>
              </tr>
              <tr>
                <td colspan="4">
                  <b>Total</b>
                </td>
                <td>
                  <b>{{ printingBill.total }}</b>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div style="text-align: center;">
          <hr>
          <small>THANKYOU! VISIT AGAIN</small>
          <hr>

        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        printSectionId="print-section"
        (click)="generateBill()"
        [printStyle]="{
          div: { 'margin-left': '-5px', 'margin-right': '-5px' }
        }"
        ngxPrint
      >
        Print
      </button>
      <button
        type="button"
        class="btn btn-secondary"
        (click)="c('Close click')"
      >
        Close
      </button>
    </div>
  </div>
</ng-template>
