<div class="row">
  <div class="col-md-5" style="height: 550px; background-color: #343a40;">
    <table class="table table-dark table-sm table-striped istore-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Qty</th>
          <th>Price</th>
          <th>Discount(%)</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody *ngIf="itemList.length">
        <tr *ngFor="let item of itemList; let i = index">
          <td>
            <select disabled [(ngModel)]="item.productId" class="form-control">
              <option *ngFor="let p of productList" [ngValue]="p.id">{{
                p.name
              }}</option>
            </select>
          </td>
          <td>
            <div>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="item.quantity"
                (change)="setTotal(item)"
              />
            </div>
          </td>
          <td>
            <p>{{ item.price }}</p>
          </td>
          <td>
            <div >
              <input
                type="number"
                class="form-control"
                [(ngModel)]="item.discount"
                step="5"
                max="100"
                min="0"
                (change)="setTotal(item)"
              />
            </div>
          </td>
          <td>
            <p>{{ item.total }}</p>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <p><b>Total</b></p>
          </td>
          <td>
            <p>
              <b>{{ totalBill }}</b>
            </p>
          </td>
        </tr>
        <tr *ngIf="itemList.length">
          <td colspan="5">
            <button class="btn" style="float: right;" (click)="generateBill()">
              Add
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-7 item-view-pane">
    <div class="row">
      <div
        *ngFor="let product of productList"
        class="col-md-3 p-2"
        style="text-align: center;"
        (click)="addToList(product)"
      >
        <h3><img src="{{ product.image }}" /></h3>
        <h3>{{ product.name }}</h3>
        <small>{{ product.price }}.rs</small>
        <h5>{{ product.description }}</h5>
      </div>
    </div>
  </div>
</div>
