<div class="row">
  <div class="col-md-3 left-pane bg-color">
    <form name="form" class="ml-3 mr-2" id="productEntryForm" (ngSubmit)="create(f)" #f="ngForm" novalidate>
      <div class="row">

        <div class="col-md-4">
          <label class="margin-top-label">
            Category:
          </label>
        </div>
        <div class="col-md-8 ">
          <input type="text" class="form-control" name="pName" placeholder="Category" [(ngModel)]="model.name" />
        </div>
        <div class="col-md-4 ">
          <label class="margin-top-label">
            Status Type:
          </label>
        </div>
        <div class="col-md-8 ">
          <select class="form-control" name="st" [(ngModel)]="model.activeStatus" #st="ngModel" required>
            <option [ngValue]="undefined" hidden selected> Status Type </option>
            <option *ngFor="let option of statusOptions" [ngValue]="option.value">
              {{ option.name }}
            </option>
          </select>
        </div>

        <div class="col-md-4 ">
          <label class="margin-top-label">
            Discount:
          </label>
        </div>
        <div class="col-md-8 ">
          <input type="number" class="form-control" name="discount" placeholder="Discount(%)" min="1" max="100"
            [(ngModel)]="model.defaultDiscount" />
        </div>

        <div class="col-md-4 ">
          <label class="margin-top-label">
            Order:
          </label>
        </div>
        <div class="col-md-8 ">
          <input type="number" class="form-control" name="desc" placeholder="Order" [(ngModel)]="model.categoryOrder" />
        </div>
        <div class="col-md-12 text-center mt-2">
          <button *ngIf="actionType == 'C'" class="btn mt-2" type="submit">
            Create
          </button>
          <button *ngIf="actionType == 'U'" class="btn mt-2" (click)="update()" type="button">
            Update
          </button>
          <button class="btn mt-2 ml-2" (click)="new(f)" type="button">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-9 view-pane">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>
            Category
          </th>
          <th>
            Discount
          </th>
          <th>
            Order
          </th>
          <th>
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categoryList" [ngClass]="{ 'bg-yellow': category.activeStatus }">
          <td>
            {{ category.name }}
          </td>
          <td>
            {{ category.defaultDiscount }}
          </td>
          <td>
            {{ category.categoryOrder }}
          </td>
          <td>
            <button class="btn" type="submit" (click)="getById(category.id)">
              Edit
            </button>
            <button class="btn ml-2" type="submit" (click)="delete(category)">
              Delete
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>